<form action="<%= notes_url %>" method="post">
	<%= auth_token %>
	<label for="content">Content</label>
	<textarea name="note[content]" id="content" cols="30" rows="10"></textarea>
	<input type="hidden" name="note[track_id]" value="<%=track_id%>">
	<button type="submit">Create new note!</button>
</form>
